{% extends "base.html" %}
{% block title %} Delete {% endblock %}
{% block extra_styles %} 
<style>
body{
    height: 100%;
    /* background-color: brown; */
    display:flex;
    flex-direction: column;
}
.container1{
   
    height: 100%;
    display:flex;
    flex-direction: column;
}
</style>

{% endblock %}
{% block content %}
<div class="container1">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h3><center>Are You sure You want to delete this movie </center></h3>
        
        <center> <input type="submit" value="yes"></button></center>
    </form>
</div>
    {% endblock %}